@use "./global.scss" as global;

.main-wrapper {
  margin-top: 3.5rem;
  // border: solid 1px green;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr 8rem 45rem 6rem 27rem 8rem 10rem;
}

.bio-wrapper {
  grid-column: 1 / span 7;
  grid-row: 1;
  @include global.font-secondary;
  background-color: global.$primary-color;
  padding: 2rem;
  color: white;
  border-radius: 30px;
  background-image: url("../../assets/dave-hoefler-UFnHt94r91w-unsplash.jpg");
}

.forest {
  max-width: 90rem;
  z-index: 2;
}

.projects-wrapper {
  // display: flex;
  // align-items: center;
  grid-column: 1 / span 16;
  grid-row: 5;
}

#projects-header-title {
  color: black;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px lightgrey;
}

.projects {
  display: flex;
  // border: solid 2px green;
  height: 15rem;
  grid-column: 1 / span 16;
  // grid-row: 9 / span 1;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  height: 100%;
  width: 80%;
  margin: 1rem;
  border-radius: 30px;
}

.connect {
  grid-column: 1 / span 3;
  grid-row: 7;
}

.header-title {
  font-size: 5rem;
  -webkit-text-stroke: 0.7px black;
}

.section-text {
  @include global.font-secondary;
  // background-color: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  color: white;
  border-radius: 20px;
  // border: solid 1px black;
}

.divider {
  border-right: solid 1px lightgray;
  grid-row: 1;
  grid-column: 8;
}

.image-wrapper {
  justify-content: flex-end;
  grid-row: 1;
  grid-column: 10 / span 4;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  grid-row: 3;
  grid-column: 8 / span 2;
}

.logo {
  font-family: global.$logo-font;
  font-size: 10rem;
  -webkit-text-stroke: 5px global.$primary-color;
  color: rgb(0, 0, 0);
  // border: solid 2px green;
}

.headshot {
  max-width: 32rem;
  border-radius: 10px;
  // box-shadow: 10px 5px 5px rgb(206, 205, 205);
}

#connect-header-title {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

ion-icon {
  :hover {
    color: green;
  }
}
