@use "./global.scss" as global;

.main-wrapper {
  margin-top: 3.5rem;
  // border: solid 1px green;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr 15rem 15rem 5rem 10rem 18rem 15rem 10rem;
}

.bio {
  grid-column: 1 / span 11;
  grid-row: 3 / span 2;
  @include global.font-secondary;
  background-color: global.$primary-color;
  padding: 2rem;
  color: white;
  border-radius: 30px;
}

.projects-wrapper {
  // display: flex;
  // align-items: center;
  grid-column: 11 / span 6;
  grid-row: 6;
}

.projects {
  background-color: global.$primary-color;
  padding: 2rem;
  color: white;
  border-radius: 30px;
}

.connect {
  grid-column: 1 / span 3;
  grid-row: 8;
}

.section-text {
  @include global.font-secondary;
  padding: 1rem;
  background-color: tan;
  color: black;
  border-radius: 30px;
  border: solid 1px black;
}

.divider {
  border-right: solid 1px lightgray;
  grid-column: 7;
}

.image-wrapper {
  justify-content: flex-end;
  grid-column: 10 / span 4;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  grid-column: 4;
  // border: solid 1px yellow;
}

.logo {
  font-family: global.$logo-font;
  font-size: 10rem;
  -webkit-text-stroke: 5px global.$primary-color;
  color: rgb(0, 0, 0);
  // border: solid 2px green;
}

.headshot {
  max-width: 32rem;
  border-radius: 10px;
  // box-shadow: 10px 5px 5px rgb(206, 205, 205);
}

a {
  text-decoration: none;
}

ion-icon {
  :hover {
    color: green;
  }
}
