$font-primary: "Archivo", sans-serif;
$font-secondary: "Hind Madurai", sans-serif;
$logo-font: "Bangers", cursive;
$primary-color: #3a57c6;
$line-standard: solid 5px black;
$line-border-radius: 20px;

@mixin line {
  border-bottom: $line-standard;
  border-radius: 5px;
}

@mixin font-primary {
  font-family: $font-primary;
}

@mixin font-secondary {
  font-family: $font-secondary;
}
