@use "./global.scss" as global;

body {
  margin: 2rem 5rem;
}

.title {
  display: grid;
  grid-template-columns: 18rem 1fr;
}

#main-header {
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  :hover {
    border-bottom: solid 2px black;
    transition-property: border-bottom;
    transition-duration: 0.5s;
    cursor: pointer;
  }
}

.nav-options-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0;
  @include global.font-secondary;
}

.header-title {
  @include global.font-primary;
  font-size: 1.7rem;
  margin: 0;
}

ul {
  list-style-type: none;
  @include global.font-secondary;
}

.subheader {
  @include global.font-secondary;
  margin-top: 0.1rem;
  padding-top: 0.4rem;
  border-top: solid 1px lightgrey;
}
