@use "./global.scss" as global;
@import "./mediaQueries.scss";

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 99, 140, 1) 55%,
    rgba(255, 0, 54, 1) 100%
  );
  scroll-behavior: smooth;
  margin: 0;
}

.title {
  display: grid;
  grid-template-columns: 18rem 1fr;
  border-bottom: solid 0.5px white;
  width: 100%;
  background: global.$primary-dark-color;
  // border: solid 1px yellow;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main-wrapper {
  padding-top: 60px;
}

.header {
  color: white;
}

.header-mobile {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#main-header {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  @include tablet {
    justify-content: flex-end;
  }
  @include mobile {
    justify-content: flex-end;
  }
}

#burger {
  display: none;
  @include tablet {
    display: flex;
    padding-right: 4rem;
    font-size: 35px;
  }
  @include mobile {
    display: flex;
    padding-right: 4rem;
    font-size: 35px;
  }
}

.nav-link {
  text-decoration: none;
  color: inherit;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.nav-link li {
  border: none;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.nav-link li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: white;
  transition: all ease-in-out 0.2s;
}
li:hover::after {
  width: 100%;
  left: 0;
}

.nav-options-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0;
  @include global.font-secondary;
}

.header-title {
  @include global.font-primary;
  margin: 0;
  font-size: 5rem;
  -webkit-text-stroke: 0.7px black;
}

ul {
  list-style-type: none;
  @include global.font-secondary;
}

.subheader {
  @include global.font-secondary;
  margin-top: 0.1rem;
  padding-top: 0.4rem;
  border-top: solid 1px lightgrey;
}
