@use "./global.scss" as global;
@import "./mediaQueries.scss";

.nav-options-mobile-container {
  display: none;
}

.grid-filler {
  grid-column: 1;
  // background-color: rgba(2, 0, 36, 1) 0%;
}

.nav-options-mobile-container-on {
  display: none;
  @include mobileAndTablet {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

.nav-options-mobile-wrapper {
  @include mobileAndTablet {
    border: solid 1px white;
    background: global.$primary-dark-color;
    grid-column: 2;
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
  }
}

.nav-options-mobile {
  padding-left: 5rem;
}
.nav-link-mobile {
  display: flex;
  text-decoration: none;
  color: white;
  // border-bottom: solid 1px white;
  height: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  width: 8rem;
}

.nav-link-mobile li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 200%;
  bottom: 0;
  transition: all ease-in-out 0.2s;
}

.nav-link-mobile li:hover::after {
  width: 100%;
  left: 0;
}
