@use "./global.scss" as global;
@import "./mediaQueries.scss";

.projects {
  display: flex;
  // border: solid 2px green;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  @include mobileAndTablet {
    display: grid;
    grid-template-rows: 25rem;
    grid-template-columns: repeat(3, 40rem);
    overflow-x: scroll;
  }
}

#projects-header-title {
  color: black;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px lightgrey;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include global.font-secondary;
  align-items: center;
  border: solid 1px black;
  height: 20rem;
  width: 80%;
  margin: 1rem;
  border-radius: 30px;
  padding: 1rem;
}

// .cards-wrapper {
//   overflow-x: scroll;
// }

.card-content {
  margin-top: 0;
}

.card-title {
  border-bottom: solid 1px white;
  margin: 0% 0.5rem;
}

.card-description {
  font-size: 0.85rem;
  margin: 0.5rem;
}

// #zoomies-card {
//   background-image: url("../../assets/StudioZoomiesLogoEmail.png");
// }
